<div class="col-md-4"></div>
<div class="col-md-4 center">
	<div class="form-group">
	<div class="alert alert-danger" role="alert" ng-show='errMsg!=undefined'>
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span class="sr-only">Error:</span>
	  {{errMsg}}
	</div>
	</div>
	<form name='loginForm' novalidate ng-submit="login(userinFrom)">
		<div class="form-group" ng-class="{'has-error': loginForm.username.$invalid && loginForm.username.$dirty}">
	    	<input type="text" class="form-control" placeholder="用户名" name='username' ng-model='userinFrom.username' required>
	    	<span class="help-block" ng-show="loginForm.username.$error.required && loginForm.username.$dirty">用户名必填</span>
	  	</div>
	  	<div class="form-group" ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$dirty}">
	      <input type="password" class="form-control" placeholder="密码" name='password' ng-model='userinFrom.password' required id='password'>
	      <span class="help-block" ng-show="loginForm.password.$error.required && loginForm.password.$dirty">密码必填</span>
	  	</div>
	  	<div class="form-group">
  			<img ng-src="data:image/png;base64,{{imageData}}" ng-click="generateSecurityCode()">	
	  	</div>
	  	<div class="form-group" ng-class="{'has-error': loginForm.securityCode.$invalid && loginForm.securityCode.$dirty}">
	  			<input type="text" class="form-control" placeholder="验证码" name='securityCode' ng-model='userinFrom.securityCode' required>
	  			<span class="help-block" ng-show="loginForm.securityCode.$error.required && loginForm.securityCode.$dirty">验证码必填</span>
	  		</div>
	  	<div class="form-group text-right">
	  		<a ui-sref='regist'>没有管理员?注册</a>
	  	</div>
	  	<div class="form-group">
	  		<button class="btn btn-success col-md-12" type="submit" ng-disabled="!loginForm.$valid">登录</button>
	  	</div>
	</form>
</div>
<div class="col-md-4"></div>